
/*======================================== General Section ====================== */

* {
    box-sizing: border-box;
  }

  :root{
    --maincolor:#810000;
    --graycolor:#999;
    --whitecolor: #fff;
    --e8color:#e8e8e8;
    --formcolor:#e8e8e86b;
    
}
  
  body {
    margin: 0px;
    font-family: 'Harmattan', sans-serif;
   overflow-x: hidden;
   background-color: #e6e7e9;
  }
  

  .container{
    width: 80%;
    margin: auto;
    
}

.clear{
    clear:both;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Amiri', serif;
}

button{
    font-family: inherit;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}


.section-header{
  text-align: center;
  margin-bottom: 30px;
  margin-top: 90px;
 
  
}

.section-header .section-title{
  font-size: 30px;
  text-transform: capitalize;
  margin-bottom: 10px;
  color: var(--maincolor);
  font-weight: 800;
  
}

.section-header .line{
  display: block;
  height:5px;
  width: 60px;
  margin:0 auto 70px auto;
  background-color: var(--maincolor);
  
  
}
.br{
  background-color: var(--maincolor);
}

.section-header1{
  margin-top: -1%;
  display: block;
  width: 100%;
  background-color: var(--maincolor);
  text-align: center;
   
}

.section-header1 .section-title1{
  font-size: 30px;
  text-transform: capitalize;
  color: var(--whitecolor);
  font-weight: 800;
  
}

.section-header2{
  margin-bottom:5px;
  display: block;
  width: 100%;
  background-color: var(--e8color);
  text-align: center;
   
}

.section-header2 .section-title2{
  font-size: 30px;
  text-transform: capitalize;
color: var(--maincolor);
  font-weight: 800;
  
}


/*===================================== navigation bar =====================================***/
  .nav {
    
    height: 80px;
    width: 100%;
    background-color: var(--e8color);
   
    position: fixed;
    z-index: 10000;
  }
  
  .nav > .nav-header {
    display: inline;
  }

  .nav-logo{
    margin-right: 30%;
    width:25%;
    float: right;
    padding: 10px 10px 10px 10px; 
}

.nav-logo img{ 
    height: 70px; 
    
}
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline-block;
    font-size: 20px;
    margin-right: 10%;;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding:30px 0px 13px 30px;
    text-decoration: none;
    color:var(--maincolor);
  }
  
  .nav > .nav-links > a:after {
  
    content: "";
    display: block;
    width: 0;
    height:3px;
    background-color:var(--maincolor);
    font-weight: bold;
    transition: width 0.5s;
    margin-top: 2px;

  }
  .nav > .nav-links > a:hover:after{
      width: 100%;
     
  }

  
  .nav > #nav-check {
    display: none;
  }
  
  @media screen and (min-width:200px) and (max-width:850px) {
    
    .nav {
      height: 80px;
      width: 102%;
      margin-right: -15px;
      background-color: var(--e8color);
      position: fixed;
      z-index: 10000;
  }

    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      left: 18px;
      top: 22px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height:50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 50px;
      
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid var(--maincolor);
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: var(--e8color);
      height: 20px;
      padding: 0 20px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 75px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 50%;
    }

    
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }

    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 30px);
      overflow-y:hidden;
      z-index: 1000;
    }}
  


/*================================================= Home section ====================================== */

.home{ 
  position: relative;  
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 85vh;
  background: var(--e8color);
}

.home-content{
  position: absolute;
  margin: 130px 50px 0 50px;
  display: flex;
  justify-content:center;
  margin-bottom: 150px;
  }

.hometext{
  padding-top: 45px;
  margin-top:100px;
  flex: 2;
  margin-left: 15;
   text-align: center;  
}


.hometext .title{
  color: var(--maincolor);
  font-size: 40px; 
  
}

.hometext .home-desc{
  margin: 15px 0; 
  color: var(--maincolor);
  font-size: 19px;
  letter-spacing: 1px;
  line-height: 1.5;
}

.hometext .home-img{
  width:70%;
  padding-top: 5px;
  display: inline-block;
}

.hometext .home-img a img.iosImage{
  width: 150px;
  height: 60px;
}

.hometext .home-img a img.androidImage{
  width: 130px;
  height: 40px;
  margin: 0 15px;
  margin-bottom: 8px;
}

.home-bg{
  flex: 2;
  margin-top:5%;
  margin-right: -50%;

  
}

.home-bg img{
  justify-content: right;
  float: right;
  padding-top: 40px;
  width: 80%;
  height: 100%;
}


@media screen and (min-width:200px) and (max-width: 700px){
  .home{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 75vh;
    background: var(--e8color);
  }

  .home-content{
    position: absolute;
    margin: 30% 10% 0 10%;
    /* text-align: center; */
  
    /* display: flex; */
    justify-content: center;
    margin-bottom: 150px;
  }

  .hometext .title {
    color: var(--maincolor);
    font-size: 30px;
    margin-top: 20%;  
    margin-right: 150px;
  }

  .hometext .home-desc {
    margin: 20px 150px 20px 0;
    color: var(--maincolor);
    font-size: 19px;
    letter-spacing: 1px;
    line-height: 1.5;
}

.hometext .home-img a img.androidImage {
  width: 130px;
  height: 40px;
  
  display: inline-block;
  justify-content: center;
  margin: 0 80px 0 -80px;
  margin-bottom: 8px;}

  .hometext .home-img a img.iosImage {
    width: 150px;
    height: 60px;
    margin: 0 80px 0 -80px;
}


  .home-bg{
    flex: -1;
    margin-top: 10px;
    display: block;
    visibility: hidden;
    width: 0%;
  }

  .home-bg img{
    display: block;
    visibility: hidden;
  }

  .hometext{
    display: block;
    justify-content: center;
    padding-right:25%;
    width: 100%;
  }
  
  }




  @media screen and (max-width: 1290px){
    .home-bg{
      flex: 0;
      margin-top: 0;
    
    }
  
    .home-bg img{
     width: 400px;
     height: 500px;
     margin-top: 10%;
     
    }

    .hometext{
      margin-left: 15;
      padding-left:5%;
      flex: 2;
    }

  }

  @media screen and (max-width: 1250px){
    .home-bg{
      flex: 0;
      margin-top: 0;
      margin-right: 4%;
    }

    .home-bg img{  
      padding-left: 7px;
     }
  
    
    }
 @media screen and (min-width:200px) and (max-width:950px){
  .section-header1 .section-title1 {
    font-size: 30px;
    margin-top: -30px;
    text-transform: capitalize;
    color: var(--whitecolor);
    font-weight: 800;
}

.box-container {
  min-height: 100vh;
  background: linear-gradient(to bottom,#800202 20%,var(--e8color),var(--e8color),var(--e8color));
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -170px;
  padding-bottom: 80px;
}
 }




/*================================================WAVE SETION ================================================*/



footer{
 position: relative;
  width: 100%;
  background: #810000;
  min-height:120px;
  padding: 20px 50px;
  
}

footer .wave{
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(../images/waves.png);
  background-size: 1000px 100px;
}

footer .wave#wave1{
z-index: 5;
opacity: 075;
bottom: 0;
animation: animateWave 4s linear infinite;
}

footer .wave#wave2{
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02  4s linear infinite;
  }

  footer .wave#wave3{
    z-index: 1000;
    animation: animateWave 3s linear infinite;
      }
      
      footer .wave#wave4{
          z-index: 999;
          opacity: 0.7;
          bottom: 22px;
          animation: animateWave_02 3s linear infinite;
          }

@keyframes animateWave {
  0%{
      background-position-x: 1000px;
  }
  100%{
      background-position-x: 0px;
  }

}

@keyframes animateWave_02 {
  0%{
      background-position-x: 0px;
  }
  100%{
      background-position-x: 1000px;
  }
}

/*================================================== hospitals section ==============================================*/

.box-container{
  min-height: 100vh;
  background:linear-gradient(to bottom,#800202 20%,var(--e8color),var(--e8color),var(--e8color));
  background-size: cover;
  background-position:center ;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -5%;
  padding-bottom: 80px;
  
}

.box-container .box{
  height: 350px;
  width: 350px;
  border: 8px solid #fff;
  box-shadow: 0 3px 5px var(--maincolor);
  overflow: hidden;
  margin: 5px 15px;
}

.box-container .box img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: grayscale();
  
}

.box-container .box:hover img{
filter: grayscale(0%);
transform: scale(1.1);
}

.box-container .box .info{
  text-align: center;
  background:#fff;
  position: relative;
  bottom: 40px;

}

.box-container .box:hover .info{
bottom: 120px;

}

.box-container .box .info .title{
  padding: 7px 0;
  font-size: 20px;
  color: var(--maincolor);
  text-transform: capitalize;
}

.box-container .box .info .post{
  font-size: 18px;
  color:var(--graycolor) ;

}

.box-container .box .info .location{
  margin-top: 6px;
  border-top: 1px solid #4444;
}

.box-container .box .info .location a{
  font-size: 20px;
  margin: 15px 20px;
  text-decoration: none;
  color: var(--maincolor);
}
.box-container .box .info .location a:hover{
  color: #999;
}





/*========================================================= count section ============================================*/
.count-container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 7%;
  /*background: #021325;*/
  min-height: 100vh;
  margin-top: 4%;
  gap: 10px;
  padding-bottom: 80px;
}

.count-container .content{
  margin: 50px;
  padding-top: 5%;
   flex: 1 1 350px;
 }

.count-container .content .paragraph p{
  text-align: center;
  font-size: 26px;
  color: #493f3f;
  padding-bottom:10%;
}



.count-container .count-image{
  display: flex;
  flex: 1 1 350px;
}

.count-container .count-image img{
  width: 100%;
  

}


.count-container .content .count-down{
  display: flex;
  gap: 15px;
  padding: 10px 0;

}

.count-container .content .count-down .count-box{
  padding: 5px;
  background: #fff;
  border: 1px solid var(--maincolor);
  text-align: center;
  flex:1 1 20px ;
}

.count-container .content .count-down .count-box h3{
  font-size: 50px;
  color: var(--maincolor);
}

.count-container .content .count-down .count-box span{
  color: var(--maincolor);
  font-size: 20px;
  padding: 5px 0;
}


@media screen and (min-width:200px) and  (max-width:950px){
  .count-container{
      
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-wrap: wrap;
    padding: 10px 50px;
    /* background: #021325; */
    min-height: 20vh;
    /* margin-top: 4; */
    /* gap: 10px; */
    padding-bottom: 15px;
  }

  .count-container .content .count-down .count-box {
    padding: 5px;
    background: #fff;
    border: 1px solid var(--maincolor);
    text-align: center;
    /* flex: 1 1 50px; */
}

  .count-container .count-image{
    display: flex;
    flex: 1 1 300px;
  }
  
  .count-container .count-image img{
    width: 100%;
    justify-content: center;
   
  }

  .count-container .content{
      text-align: center;
  }

  
  .count-container .content .paragraph p {
    font-size: 22;
    width: 100%;
    text-align: center;
    margin-top: -90px;
}
  .count-container .content .count-down
  {
      gap: 5px;
  }

  .count-container .content .count-down .count-box h3{
      font-size: 25px;
  }
  .count-container .content .count-down .count-box span{
      font-size: 15px;
  }
}



      /*============================================الشروط  Donate important =========================================*/



.boxesContainer{
  min-height: 100vh;
  justify-content: center;
  margin-top: -4%;
  margin-bottom: 2%;
}


.cardBox {
  float: left;
  font-size: 1.2em;
  margin: 7% 0 0 2%;
 
  perspective: 800px;
  transition: all 0.3s ease 0s;
  width: 21.7%;
}

.cardBox:hover .card {
  transform: rotateY( 180deg);
}

.card {
 
  position:relative;
  cursor: default;
  height: 300px;
  transform-style: preserve-3d;
  transition: transform 0.4s ease 0s;
  width: 100%;
  -webkit-animation: giro 1s 1;
  animation: giro 1s 1;
}

.card p {
  margin-bottom:20px;
}

.card .front,
.card .back {
  backface-visibility: hidden;
  box-sizing: border-box;
  background-size: cover;
  color: var(--maincolor);
  display: block;
  font-size: 20px;
  height: 100%;
  padding: 0.8em;
  position: absolute;
  text-align: center;
  width: 100%;
}

.card .front strong {
  background: #fff;
  border-radius: 100%;
  color: #222;
  font-size: 1.5em;
  line-height: 30px;
  padding: 0 7px 0 6px;
}

.card .back {
  transform: rotateY( 180deg);
}

.back h3{
  color: var(--graycolor);
  font-weight: 800;
  padding-top: 35px;
}


.cardBox:nth-child(1) .card .back {
  background-color: var(--whitecolor);
}

.cardBox:nth-child(2) .card .back {
  background-color: var(--whitecolor);
}

.cardBox:nth-child(3) .card .back {
  background-color: var(--whitecolor);
}

.cardBox:nth-child(4) .card .back {
  background-color: var(--whitecolor);
}

.cardBox:nth-child(2) .card {
  width: 100%;
  -webkit-animation: giro 1.5s 1;
  animation: giro 1.5s 1;
}

.cardBox:nth-child(3) .card {
  -webkit-animation: giro 2s 1;
  animation: giro 2s 1;
}

.cardBox:nth-child(4) .card {
  -webkit-animation: giro 2.5s 1;
  animation: giro 2.5s 1;
}

@-webkit-keyframes giro {
  from {
    transform: rotateY( 180deg);
  }
  to {
    transform: rotateY( 0deg);
  }
}

@keyframes giro {
  from {
    transform: rotateY( 180deg);
  }
  to {
    transform: rotateY( 0deg);
  }
}


@media screen  and (min-device-width: 200px) and (max-device-width:950px)  {
  .cardBox {
   margin-bottom: -10%;
    margin-right:0%;
    height: 230px;
    width: 45%;
    text-align: center;
    min-height:50vh;
    perspective: 200px;
    transition: all 0.3s ease 0s;
    justify-content: center; 
    
  }
  .boxesContainer {
    min-height: 100vh;
    justify-content: center;
    margin-top: -10%;
    margin-bottom: 2%;
}

  .add{
    margin-top: 7%;
    margin-bottom:25px;
  }

  .card {
    font-size: 18px;
    position:relative;
    cursor: default;
    background-size: cover;
    height: 200x;
    transform-style: preserve-3d;
    transition: transform 0.4s ease 0s;
    width:100%;
    -webkit-animation: giro 1s 1;
    animation: giro 1s 1;
  }

  #weight{
    width: 125%;
    background-size: cover;
  }

  #age{
    width: 105%;
  }
  #healthy{
    width: 100%;
    margin-right: 18px;
  }
}


@media screen and (max-width:1200px) {
  .cardBox {
   height: 270px;
 
    width: 46%;
    text-align: center;
    justify-content: center;
    
  }

  .card {
    font-size: 18px;
    position:relative;
    cursor: default;
    background-size: cover;
    height: 250px;
    transform-style: preserve-3d;
    transition: transform 0.4s ease 0s;
    width:100%;
    -webkit-animation: giro 1s 1;
    animation: giro 1s 1;
  }
}




/*=========================================== Steps After & Before ==========================*/

.impcard {
  position: relative;
  width: 80%;
  height: 350px;
  border-radius: 15px;
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
  display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 35px;
    margin: 0 auto;
    padding: 40px 0;
}

.impcontainer{
  justify-content: center;
  padding: 15px;
  margin:8px 0 10px 0;  

}

  .face {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

    .impcard .face1 {
      box-sizing: border-box;
      padding:20px;
    }

      .face1 h2 {
        margin: 0;
        padding: 0;
      }

      
      

    .face2 {
      transition: 0.5s;
    }

      .face2 h2 {
        margin: 0;
        padding: 0;
        font-size: 10em;
        color: var(--maincolor);
        transition: 0.5s;
        text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        z-index: 10;
      }
    


.impcard:hover .face.face2 {
  height: 60px;
}

  .face2 h2 {
    font-size: 2em;
  }


.impcard:nth-child(1) .face.face2 {
  background-image: linear-gradient(
    40deg,
     var(--maincolor)3%,
     var(--e8color) 45%,
     var(--whitecolor) 100%
  );
  border-radius: 15px;
}

.impcard:nth-child(2) .face.face2 {
  background-image: linear-gradient(
    40deg,
    var(--maincolor)3%,
    var(--e8color) 45%,
    var(--whitecolor) 100%
  );
  border-radius: 15px;
}
.impcard .content ul{
  list-style: disc;
}

.impcard .content ul li{
  color: var(--maincolor);
  font-size: 20px;
  padding: 5px;
}

.impcard .content ul li:hover{
  color: #000;
  cursor: pointer;
}


@media screen and (min-width:200px)and (max-width:800px){
  .impcard {
    position: relative;
    width: 94%;
    height: 400px;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
    display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-gap: 35px;
      margin: 0 auto;
      padding: 30px 0;
  }
  .impcard .content ul{
    list-style: disc;
  }
  .impcard .content ul li{
    color: var(--maincolor);
    font-size: 16px;
    padding: 5px;
  }

  .impcard .face1 {
    box-sizing: border-box;
    padding:15px;
  }

    .face h2 {
      margin: 0;
      font-size:24px;

    }
  
  .impcard .content ul li:hover{
    color: #000;
    cursor: pointer;
  }
 
  
}

  /*===================================== Blood Types ================================*/

.portfolio .portfolio-item {
  margin-bottom: 20px;
}

.portfolio .section-title h2{
  color: var(--maincolor);
  font-family: 'Amiri', serif;

  font-weight: bold;
  font-size: 40px;
  text-align: center;
  margin-top: -8%;
  margin-bottom: 5%;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}
.portfolio .portfolio-wrap .portfolio-links {
  opacity: 1;
  left: 0;
  right: 0;
  bottom: -60px;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.3s;
  display: flex;
  justify-content: center;
}
.portfolio .portfolio-wrap .portfolio-links a {
  color: #fff;
  font-size: 28px;
  text-align: center;
  background: rgba(20, 157, 221, 0.75);
  transition: 0.3s;
  width: 50%;
}
.portfolio .portfolio-wrap .portfolio-links a:hover {
  background: rgba(79, 95, 102, 0.95);
}
.portfolio .portfolio-wrap .portfolio-links a + a {
  border-left: 1px solid #37b3ed;
}
.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}



@media screen and (min-width:200px) and (max-width:600px){
  .portfolio .portfolio-item {
    margin-bottom: 50px;
  }
  
  .portfolio .section-title h2{
    color: var(--maincolor);
    font-family: 'Amiri', serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin-top: -30%;
    margin-bottom: 10%;
  }

  .portfolio .portfolio-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 110%;
    margin-right: -15%;
}
  .portfolio-wrap img{
     margin-bottom: -10px;
     margin-right: 17%;
    
  }
}

 


  /*================================================ Contact us ====================================*/
  .contact{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 105vh;
    padding: 0px;
    width: 100%;
    background:var(--e8color);
  }


  .contact-container{
    position: relative;
    z-index: 2 ;
    width: 90%;
    max-width: 1000px;
    padding: 50px;
    background: rgba(0,0,0,0.2);
    box-shadow: 0 25px 45px  rgba(0,0,0,0.5);
    border: 1px solid rgba(255,255,255,0.25) ;
    border-right: 1px solid rgba(255,255,255,0.1) ;
    border-bottom: 1px solid rgba(255,255,255,0.1) ;
    border-radius: 10px;
    
    overflow: hidden;
    backdrop-filter:blur(50px);

  }

  .contact-container::before{
    content:'' ;
    position: absolute;
    top: 0;
    left: -40%;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.05);
    pointer-events: none;
    transform: skewX(-15deg);
  }

  .contact-container h2{
    width: 100%;
    text-align: center;
    color: var(--maincolor);
    font-size: 36px;
    margin-bottom: 20px;

  }

  .contact-container .row100{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr)) ;
    
  }


  .contact-container .row100 .col{
    position: relative;
     width:100%;
     padding: 0 10px;
     margin: 30px 0 20px;

  }

  .contact-container .row100 .col .inputbox{
    position: relative;
    width: 100%;
    height: 40px;
    color: #fff;
    float: right;
    margin: 5px;
  }

  .contact-container .row100 .col .inputbox input,
  .contact-container .row100 .col .inputbox textarea{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 20px;
    padding:0 10px ;
    z-index:1;
     color: #000 ;
  }
  .contact-container .row100 .col .inputbox .text{
    position: absolute;
    
    float: right;
    color: var(--maincolor);
    
    line-height: 40px;
    font-size:22px;
    padding: 0 15px;
    display: block;
    transition: 0.5s;
    pointer-events: none;

  }

  .contact-container .row100 .col .inputbox input:focus + .text,
  .contact-container .row100 .col .inputbox input:valid + .text,
  .contact-container .row100 .col .inputbox textarea:focus + .text,
  .contact-container .row100 .col .inputbox textarea:valid + .text{
    top: -35px;
    right: -10px;
  }

  .contact-container .row100 .col .inputbox .line1{
    position: absolute;
    bottom: 0;
    display: block; 
    width: 100%;
    height: 2px;
    background: #fff;
    transition: 0.5s;
    border-radius: 2px ;
    pointer-events:none;
  }

  .contact-container .row100 .col .inputbox input:focus ~ .line1,
  .contact-container .row100 .col .inputbox input:valid ~ .line1{
  height: 100%;


  }
  .contact-container .row100 .col .inputbox.textarea{
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0;
  }


  .contact-container .row100 .col .inputbox textarea:focus ~ .line1,
  .contact-container .row100 .col .inputbox textarea:valid ~ .line1
  {
  height: 100%;


  }

  .contact-container .row100 .col  input[type="submit"]{
     border: none;
     padding: 10px 40px;
     cursor: pointer;
     outline: none;
     background: #fff;
     color: #000;
     font-weight: 600;
     font-size: 18px;
     border-radius: 2px;
     justify-content: center;
     box-shadow: 2px 0.25px 2px var(--maincolor);
  }

  .contact-container .row100 .col  input[type="submit"]:hover{
    background-color: var(--graycolor);
    color: var(--maincolor);
  }

  @media screen and(min-width:200px) and (max-width:768){
    .contact::before{  
      transform: translate(-200px,-180px);
    }

    .contact::after{
      transform:  translate(220px,180px);
    }

    .contact-container {
      position: relative;
      z-index: 2;
      width: 100%;
      max-width: 1000px;
      padding:50px 0;
      background: rgba(0,0,0,0.2);
      box-shadow: 0 25px 45px rgb(0 0 0 / 50%);
      border: 1px solid rgba(255,255,255,0.25);
      border-right: 1px solid rgba(255,255,255,0.1);
      border-bottom: 1px solid rgba(255,255,255,0.1);
      border-radius: 10px;
      overflow: hidden;
      backdrop-filter: blur(50px);
  }
    .contact-container .row100 .col {
      position: relative;
      width: 80%;
      padding: 0;
      margin: 0;
  }

    .contact-container h2{
      font-size:28px ;
    }
    
}


  /*====================================================== footer section =========================================*/
  .end{
    padding: 50px 0;
    height: 30vh;

  }

  .end .social{
    text-align: center;
   padding-top: 10px;
    padding-bottom: 25px;
    color: #fff;

  }

  .end .social a{
    font-size: 24px;
    color: inherit;
    border: 1px solid  #ccc;
    width: 40px;
    height: 40px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    justify-content: center;
    padding-top:5px ;
    border-radius: 50%;
    margin: 0 4px;
    opacity: 0.75;
  }

  .end .social a:hover{
    color:#000;
   opacity:0.9;
  }

.nav-links-footer {
margin-top: 0;
padding: 0;
line-height: 1.6px;
margin-bottom: 0;
text-align: center;

  }

  .nav-links-footer a{
    color: #fff;
    text-decoration: none;
    opacity: 0.8;
    margin: 5px;
    font-size: 20px;
  }
  
  .nav-links-footer a:hover{
    color:#000;
  }

@media screen and (min-width:200px) and (max-width:800px)
{
  .nav-links-footer a {
    color: #fff;
    text-decoration: none;
    opacity: 0.8;
    display: block;
    width: 100%;
    font-size: 22px;
    margin-top: 10%;
}
.footer {
  position: relative;
  width: 100%;
  background: #810000;
  min-height: 20vh;
  padding: 20px 50px;

}

.end {
  padding: 20px 0;
  height:80vh;
}
}




















































